@keyframes imageSlider {
  0%, 20% {
    transform: translateX(0%);
  }
  25%, 45% {
    transform: translateX(-100%);
  }
  50%, 70% {
    transform: translateX(-200%);
  }
  75%, 100% {
    transform: translateX(0%);
  }
}

.slider-step {
  animation: imageSlider 15s ease-in-out infinite;
}
